.wrapper {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

.containerX {
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
    overflow-x: auto;
}

.cardX {
    width: 60px;
    height: 450px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    transition: .6s cubic-bezier(.28, -0.03, 0, .99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.8);
    
}

.cardX>.row {
    color: white;
    display: flex;
    flex-wrap: nowrap;
}

.cardX>.row>.icon {
    background: #ff6600;
    color: white;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 16px;
}

.cardX>.row>.description {
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100px;
    width: 400px;
    padding: 5px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: .3s;
    transition: all .3s ease;
}

.description p {
    color: black;
    padding: 5px;
    margin: 5px;
    font-size: 1.2rem;
    line-height: 1.1rem;
}

.description h4 {
    text-transform: uppercase;
    line-height: .2rem;
    color: black;
    font-weight: bold;
}

input {
    display: none;
}

input:checked+label {
    width: 600px;
}

input:checked+label .description {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

@media (min-width: 768px) and (max-width: 991px) {
    .cardX {
        width: 70px;
        height: 425px;
        margin: 6px;
    }

    .cardX>.row>.icon {
        height: 35px;
        width: 35px;
    }

    .cardX>.row>.description {
        height: 100px;
        width: 330px;
    }

    input:checked+label {
        width: 700px;
    }
}

@media (min-width: 450px) and (max-width: 767px) {
    .cardX {
        width: 90px;
        height: 390px;
        margin: 3px;
    }

    .cardX>.row>.icon {
        height: 30px;
        width: 30px;
        margin: 15px;
    }

    .cardX>.row>.description {
        overflow: hidden;
        height: 100px;
        width: 280px;
    }

    .description p {
        font-size: .9rem;
        line-height: .8rem;
    }

    .description h4 {
        line-height: .1rem;
    }

    input:checked+label {
        width: 800px;
    }
}

@media (min-width: 360px) and (max-width: 449px) {
    .containerX {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: column;
        justify-content: start;
    }

    .cardX {
        width: 300px;
        height: 40px;
        margin: 3px;
        align-items: flex-start;
    }

    .cardX>.row {
        flex-direction: column;
    }

    .cardX>.row>.icon {
        height: 28px;
        width: 28px;
        margin-top: 8px;
    }

    .cardX>.row>.description {
        height: 500px;
        width: 300px;
        padding: 15px;
    }

    .description h4 {
        line-height: .2rem;
    }

    input:checked+label {
        height: 350px;
        width: 300px;
    }
}