/* 
    General Styles
*/

/* --Color Palette--
blueviolet
rgb(216, 96, 216)
rgb(240, 155, 240)) */
.flex-shrink-0{
  background-image: linear-gradient(90deg,blueviolet,rgb(216, 96, 216), rgb(240, 155, 240));
}

.bg-dark, .bg-light {
    background-image: URL("https://www.xtrafondos.com/wallpapers/3d-abstraccion-morado-7934.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  /* --Color palette--
  blueviolet
  rgb(82, 1, 82)
  purple */
.navbar {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: blueviolet;
  background-color: rgb(82, 1, 82);
  color: white;
}
/* .navbar-nav {
  filter: opacity(100%);
}
.navbar-nav:hover {
  filter: opacity(130%);
} */

/* Logo */
.navbar-brand{
    transition: all .5s ease-out;
}
.navbar-brand:hover{
  transition: all .5s ease-in;
  transform: scale(1.2);
  transition-duration: .5s;
}

/* Name of views */
.nav-link{
  margin-inline: 7px;
  color: white; 
}
.nav-link:hover, .dropdown-item:hover{
  filter: brightness(150%);
  color: purple;
  text-shadow: 0 0 0.2em purple;
}
.dropdown-item, .dropdown-menu{
  color:white;
  background-color: purple;
}

/* Photos of Carousel */
.Dany {
    /* border-radius: 1rem; */
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
    background-size: cover;
    background-attachment: fixed; 
    width: 480px;
    height: 480px;
}
#description{
  color: white;
  text-shadow: 0 0 0.2em purple, 0 0 0.2em purple;
}

/* Footer */
.footer {
  border-top-style: solid;
  border-width: 3px;
  border-color: blueviolet;
  background-color: rgba(82, 1, 82);
}

/* Buttons */
.btn-primary, .bg-gradient{
  background-color: purple;
}
.btn-primary:hover{
  background-color: white;
  color: purple;
}