/* 
    General Styles
*/
.bg-dark {
    background-image: URL("https://www.xtrafondos.com/wallpapers/3d-abstraccion-morado-7934.jpg");
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

.navbar {
  border-bottom-style: solid;
  border-width: 1px;
  border-color: blueviolet;
}
.navbar-nav {
  filter: opacity(60%);
}
.navbar-nav:hover {
  filter: opacity(100%);
}
  .navbar-brand{
    font-size:xx-large;
    font-weight: bolder;
    font-style: italic;
    color: blueviolet;
    text-shadow: 0 0 0.2em blueviolet, 0 0 0.2em blueviolet;
  }

.Dany {
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: blueviolet;
    width: 450px;
    height: 420px;
}

