/* 
    General Styles
*/
.bg-dark {
    background-image: url("https://media.istockphoto.com/id/1151551500/es/v%C3%ADdeo/resoluci%C3%B3n-4k-soft-lines-v%C3%ADdeo-en-stock.jpg?s=640x640&k=20&c=CeI0_cXfCHQY2PESWto_Yh2IxNac60b6jsCbZzpJsAk=");
    background-color: none;
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
  }

  .navbar-brand{
    font-size:xx-large;
    font-weight: bolder;
    font-style: italic;
    color: blueviolet;
  }
.Dany {
    border-radius: 50%;
    border-style: solid;
    border-color: blueviolet;
    width: 450px;
    height: 420px;
}

